anyio
asyncio-atexit
beautifulsoup4
certifi
charset-normalizer
deeperseek
deprecated
exceptiongroup
h11
httpcore
httpx
idna
inscriptis
lxml
mss
python-dotenv
python-telegram-bot
pyvirtualdisplay
requests
sniffio
soupsieve
typing-extensions
urllib3
websockets
wrapt
zendriver
